<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-eval';">

    <title>Cargo</title>

    <script src="/scripts/admin_auth.js" defer></script>
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/css/custom.css" rel="stylesheet" />

    <script src="assets/js/jquery-1.10.2.js"></script>
   
    <link href="/scripts/datatables.min.css" rel="stylesheet">
 
    <script src="/scripts/datatables.min.js"></script>
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/logo.png">
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="../assets/logo.png">
    
  
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="/scripts/xslx.min.js"></script>
    <script src="/assets/js/exceljs.min.js"></script>
    <style>
        .export {
            background-color: green;
            color: white;
            width: 160px;
            height: 40px;
            font-size: large;
            font-weight: bold;
            border-radius: 7px;
            border-color: transparent;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <%- include('navbar') %>
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>CARGO</h2>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-12 ">
                        <div class="alert alert-info">
                            <strong>Welcome Jhon Doe !</strong> You Have No pending Task For Today.
                        </div>
                    </div>
                </div>
                <button id="exportExcel" class="export">Exporter</button>
                <table id="cargoTable" class="display">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Numero de Transit</th>
                            <th>Numero de Balise</th>
                            <th>Code HS</th>
                            <th>Corridor</th>
                            <th>Type de Vehicule</th>
                            <th>Immatriculation</th>
                            <th>Transitaire</th>
                            <th>Enregistre par</th>
                        </tr>
                    </thead>
                    <tbody id="cargoDataBody">
                        <!-- Data will be dynamically populated -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="/scripts/admin_cargo.js">
       
    </script>
</body>
</html>
