<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/logo.png">
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="../assets/logo.png">
    <link href="../assets/css/bootstrap.css" rel="stylesheet" />

    <title>Donnee</title>
    <script src="/scripts/auth.js" defer></script>
    <script src="../assets/js/jquery-1.10.2.js"></script> 

    
    <style>
        .export {
            background-color: green;
            color: white;
            
            height: 40px;
            font-size: large;
            font-weight: bold;
            border-radius: 7px;
            border-color: transparent;
            cursor: pointer;
            margin-top: 10px;
        }
    </style>
    
</head>
<body>
    
    <%- include('navbar') %>
    <div class="content">
        <a href="/accueil" id="backBtn" class="back-button">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="24" height="24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
            </svg>
            <span>Retour en arriere</span>
        </a>

        <div>
          <button id="addUserButton" class="export"> <svg width="20" height="20" fill="none" stroke="currentColor" stroke-width="2">
            <path d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
        </svg>Ajouter Depassement du delai</button>
          <button id="addCableButton" class="export"> <svg width="20" height="20" fill="none" stroke="currentColor" stroke-width="2">
            <path d="M12 4v16m8-8H4"></path>
        </svg> Ajouter Cable deverouille</button>
          <button id="addCommentButton" class="export"> <svg width="20" height="20" fill="none" stroke="currentColor" stroke-width="2">
            <path d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"></path>
        </svg> Ajouter cas suspect</button>
        </div>

        <div id="addUserModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addUserModalLabel">Enregistrer un depassement de delai</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form id="addUserForm">
                                       
                    <div id="observation-container">
                        <!-- Template for a single alarme -->
                        <div class="observation-item">
                          <div class="formbold-input-flex">
                            <div>
                              <label for="observation" class="formbold-form-label">Niveau</label>
                              <select name="observation[niveau]"
                              placeholder=""
                              class="formbold-form-input">
                                    <option>Selectionnez le niveau</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                              </select>
                              
                            </div>
                            
                          </div>
                      
                          
                      
                          <div>
                            <label for="observation_observation" class="formbold-form-label">Observation</label>
                            <textarea
                              rows="6"
                              name="observation[observation]"
                              placeholder="Entrez votre observation"
                              class="formbold-form-input"
                            ></textarea>
                          </div>
                      
                          <button type="button" class="remove-alarme-btn styled-btn danger-btn">Enlever</button>
                        </div>
                      </div>
                      
                      <div>
                        <button type="button" id="add-alarme-btn" class="styled-btn primary-btn">Ajouter Observation</button>
                        
                      </div>
                    <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Enregistrer</button>
                  </form>
                </div>
              </div>
            </div>
          </div>


          <div id="addCableModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addCableModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addCableModalLabel">Enregistrer cable deverouille</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form id="addCableForm">
                    <div class="form-group">
                      <label for="fullName">Niveau</label>
                      <input type="text" class="form-control" id="cable_niveau" name="cable_niveau" value="3" disabled required>
                    </div>
                    <div class="form-group">
                      <label for="email">Date de deverouillage</label>
                      <input type="date" class="form-control" id="cable_date" name="cable_date" required>
                    </div>
                    <div class="form-group">
                      <label for="fullName">Heure</label>
                      <input type="time" class="form-control" id="cable_time" name="cable_time" required>
                    </div>            
                    
                    <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Enregistrer</button>
                  </form>
                </div>
              </div>
            </div>
          </div>



          <div id="addCommentModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addCommentModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addCommentModalLabel">Enregistrer cas suspect</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form id="addCommentForm">
                    <div class="form-group">
                      <label for="email">Commentaire</label>
                      <textarea
                              rows="6"
                              name="commentaire"
                              id="commentaire"
                              placeholder="Entrez votre commentaire"
                              class="formbold-form-input"
                              required
                            ></textarea>
                      
                    </div>
                                
                    
                    <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Enregistrer</button>
                  </form>
                </div>
              </div>
            </div>
          </div>



          <div id="addAlarmeModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addUserModalLabel">Ajouter alarme</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form id="addAlarmeForm">
                                       
                    <div id="alarme-form-container">
                        <!-- Template for a single alarme -->
                        <div class="alarme-form-item">
                          <div class="formbold-input-flex">
                            <div>
                              <label for="alarme_niveau" class="formbold-form-label">Niveau</label>
                              <select class="formbold-form-input" name="alarme[niveau]">
                                  <option value="">Choisissez le niveau</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                              </select>
                            </div>

                            <div>
                              <label for="alarme_type" class="formbold-form-label">Type d'alarme</label>
                              <select id="alarme_type" name="alarme[type]" class="formbold-form-input">
                                <option value="">Choisissez le type d'alarme</option>
                              </select>
                              
                            </div>

                            
                          </div>
                      
                          <div class="formbold-input-flex">
                            <div>
                              <label for="alarme_date" class="formbold-form-label">Date</label>
                              <input
                                type="date"
                                name="alarme[date]"
                                placeholder=""
                                class="formbold-form-input"
                              />
                            </div>

                            <div>
                              <label for="alarme_heure_debut" class="formbold-form-label">Heure</label>
                              <input
                                type="time"
                                name="alarme[heure]"
                                placeholder=""
                                class="formbold-form-input"
                              />
                            </div>
                            
                          </div>
                          <div>
                            <label for="alarme_lieu" class="formbold-form-label">Lieu</label>
                            <input
                              type="text"
                              name="alarme[lieu]"
                              placeholder=""
                              class="formbold-form-input"
                            />
                          </div>
                          <div>
                            <label for="alarme_observation" class="formbold-form-label">Observation</label>
                            <textarea
                              rows="6"
                              name="alarme[observation]"
                              placeholder="Entrez votre observation"
                              class="formbold-form-input"
                            ></textarea>
                          </div>
                      
                          <button type="button" style="margin-top: 10px;" class="remove-alarme-btn styled-btn danger-btn">Enlever</button>
                        </div>
                      </div>
                      
                      <div style="margin-top: 10px;">
                        <button type="button" id="add-alarme-form-btn" class="styled-btn primary-btn">Ajouter Alarme</button>
                        
                      </div>
                    <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Enregistrer</button>
                  </form>
                </div>
              </div>
            </div>
          </div>



          <div id="addClotureModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addCableModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addCableModalLabel">Ajouter cloture</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form id="addClotureForm">
                    <div class="form-group">
                      <label for="firstname" class="formbold-form-label"> Date </label>
                    <input
                    type="date"
                    name="cloturedate"
                    placeholder=""
                    id="cloturedate"
                    class="formbold-form-input"
                    />
                    </div>
                    <div class="form-group">
                      <label for="lastname" class="formbold-form-label"> Heure </label>
                    <input
                    type="time"
                    name="clotureheure"
                    placeholder=""
                    id="clotureheure"
                    class="formbold-form-input"
                    />
                    </div>
                    <div class="form-group">
                      <label for="firstname" class="formbold-form-label"> Lieu </label>
                    <input
                    type="text"
                    name="cloturelieu"
                    placeholder=""
                    id="cloturelieu"
                    class="formbold-form-input"
                    />
                    </div>       
                    
                    
                    <div class="form-group">
                      <label for="lastname" class="formbold-form-label" > Mode </label>
                      <select id="cloturemode" name="cloturemode" class="formbold-form-input">
                          <option value="">Choisissez le mode</option>
                          <option value="forcee">Forcee</option>
                          <option value="fermeture">Fermeture</option>
                      </select>
                    </div> 
                    
                    <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Enregistrer</button>
                  </form>
                </div>
              </div>
            </div>
          </div>




          <div id="addCreationFin" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addCableModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addCableModalLabel">Ajouter date de fin de la creation</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form id="addCreationFinForm">
                    <div class="form-group">
                      <label for="firstname" class="formbold-form-label"> Date </label>
                    <input
                    type="date"
                    name="creationdatefin"
                    placeholder=""
                    id="creationdatefin"
                    class="formbold-form-input"
                    />
                    </div>
                    <div class="form-group">
                      <label for="lastname" class="formbold-form-label"> Heure </label>
                    <input
                    type="time"
                    name="creationheurefin"
                    placeholder=""
                    id="creationheurefin"
                    class="formbold-form-input"
                    />
                    </div>
                         
                    
                    
                    <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Enregistrer</button>
                  </form>
                </div>
              </div>
            </div>
          </div>

    
        <form id="cargoForm">
            <h1>Donnee Cargo</h1>
            <label for="numero_de_transit">Numero de Transit</label>
            <input type="text" id="numero_de_transit" name="numero_de_transit" disabled>
    
            <label for="numero_de_la_balise">Numero de Balise</label>
            <input type="text" id="numero_de_la_balise" name="numero_de_la_balise" disabled>
    
            <label for="code_hs">Code HS</label>
            <div id="code_hs_container">
              
            </div>
    
            <label for="corridor">Corridor</label>
            <input type="text" id="corridor" name="corridor" disabled>
    
            <label for="type_de_vehicule">Type de Vehicule</label>
            <input type="text" id="type_de_vehicule" name="type_de_vehicule" disabled>
    
            <label for="immatriculation">Immatriculation</label>
            <input type="text" id="immatriculation" name="immatriculation" disabled>
    
            <label for="transitaire">Transitaire</label>
            <div id="transitaire_container">
              
            </div>
    
            <label for="chauffeur">Chauffeur</label>
            <input type="text" id="chauffeur" name="chauffeur" disabled>
    
            <label for="telephone">Telephone</label>
            <input type="text" id="telephone" name="telephone" disabled>
    
            <label for="creation_date">Creation Date</label>
            <input type="date" id="creation_date" name="creation_date" disabled>
    
            <label for="creation_heure_debut">Creation Heure Debut</label>
            <input type="time" id="creation_heure_debut" name="creation_heure_debut" disabled>

            <button id="addCreationFinButton" style="margin-bottom: 10px; margin-top: 16px;" type="button" class="export">Ajouter fin de creation</button>

            <label for="creation_heure_fin">Creation Date Fin</label>
            <input type="date" id="creation_date_fin" name="creation_date_fin" disabled>
    
            <label for="creation_heure_fin">Creation Heure Fin</label>
            <input type="time" id="creation_heure_fin" name="creation_heure_fin" disabled>
    
            <h3>Alarme</h3>
            <div id="alarme-container">
                <!-- Alarm Data will be inserted here -->
                <button id="addAlarmeButton" style="margin-bottom: 10px;" type="button" class="export">Ajouter alarme</button>
            </div>
           
            <div>
              
              <button id="addClotureButton" style="margin-bottom: 10px;" type="button" class="export">Ajouter cloture</button></div>
    
            <label for="cloture_date">Cloture Date</label>
            <input type="date" id="cloture_date" name="cloture_date" disabled>
    
            <label for="cloture_heure">Cloture Heure</label>
            <input type="time" id="cloture_heure" name="cloture_heure" disabled>
    
            <label for="cloture_lieu">Cloture Lieu</label>
            <input type="text" id="cloture_lieu" name="cloture_lieu" disabled>
    
            <label for="cloture_mode">Cloture Mode</label>
            <input type="text" id="cloture_mode" name="cloture_mode" disabled>
    
            <label for="duree">Duree</label>
            <input type="text" id="duree" name="duree" disabled>
        </form>



        <form id="cargoForm">
          <h1>Depassement Delai</h1>
          <div id="observation-container-item">
              <!-- Alarm Data will be inserted here -->
          </div>
  
          
      </form>
    </div>

    <script src="/scripts/displayCargo.js"></script>

    <style>
        /* General Styling */
        body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

        h1 {
            text-align: center;
            color: #333;
            font-size: 2.5rem;
            margin-bottom: 20px;
        }

        #cargoForm {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

        label {
            display: block;
            font-size: 1rem;
            margin-bottom: 5px;
            color: #444;
        }

        input[type="text"],
        input[type="date"],
        input[type="time"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ddd;
            border-radius: 5px;
            font-size: large;
            color: #333;
            background-color: #f9f9f9;
        }

        input[type="text"]:disabled,
        input[type="date"]:disabled,
        input[type="time"]:disabled {
            background-color: #e0e0e0;
        }

        .formbold-input-flex {
            display: flex;
            gap: 20px;
            margin-bottom: 15px;
        }

        .formbold-input-flex div {
            flex: 1;
        }

        .formbold-form-label {
            font-size: 1rem;
            color: #444;
            margin-bottom: 5px;
            display: block;
        }

        .formbold-form-input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #f9f9f9;
            font-size: medium;
        }

        .formbold-form-input:disabled {
            background-color: #e0e0e0;
        }

        #alarme-container {
            margin-bottom: 20px;
        }

        .alarme-item {
            background-color: #f9f9f9;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin-bottom: 15px;
        }

        .alarme-item label {
            font-weight: bold;
        }

        .alarme-item input,
        .alarme-item textarea {

          font-size: large;
            width: 98%;
            font-size: large;
        }

        .back-button{
            align-items: center;
            display: flex;
            margin-top: 16px;
        }

        /* Responsive Styling */
        @media (max-width: 768px) {
            .formbold-input-flex {
                flex-direction: column;
            }

            .formbold-input-flex div {
                margin-bottom: 15px;
            }

            #cargoForm {
                width: 90%;
                padding: 20px;
            }
        }

        @media (min-width: 769px) {
            .content {
               
                margin-left: 270px; /* Move content to the right */
            }
        }


        .styled-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  outline: none;
}

        .primary-btn {
  background-color: #4CAF50; /* Green */
  color: white;
}

.primary-btn:hover {
  background-color: #45a049;
}

/* Danger button for "Remove" */
.danger-btn {
  background-color: #f44336; /* Red */
  color: white;
}

.danger-btn:hover {
  background-color: #d32f2f;
}

/* Add some spacing */
#add-alarme-btn {
  margin-top: 20px;
}

.observation-item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}
    </style>
    <script src="../assets/js/bootstrap.min.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="../assets/js/custom.js"></script>
</body>
</html>
