<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/logo.png">
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="../assets/logo.png">

    <title>Donnee</title>
    <script src="/scripts/displayCargo.js" defer></script>
</head>
<body>
    <h1>Donnee Cargo</h1>

    <form id="cargoForm">
        <label for="numero_de_transit">Numero de Transit</label>
        <input type="text" id="numero_de_transit" name="numero_de_transit" disabled>

        <label for="numero_de_la_balise">Numero de Balise</label>
        <input type="text" id="numero_de_la_balise" name="numero_de_la_balise" disabled>

        <label for="code_hs">Code HS</label>
        <input type="text" id="code_hs" name="code_hs" disabled>

        <label for="corridor">Corridor</label>
        <input type="text" id="corridor" name="corridor" disabled>

        <label for="type_de_vehicule">Type de Vehicule</label>
        <input type="text" id="type_de_vehicule" name="type_de_vehicule" disabled>

        <label for="immatriculation">Immatriculation</label>
        <input type="text" id="immatriculation" name="immatriculation" disabled>

        <label for="transitaire">Transitaire</label>
        <input type="text" id="transitaire" name="transitaire" disabled>

        <label for="chauffeur">Chauffeur</label>
        <input type="text" id="chauffeur" name="chauffeur" disabled>

        <label for="telephone">Telephone</label>
        <input type="text" id="telephone" name="telephone" disabled>

        <label for="creation_date">Creation Date</label>
        <input type="date" id="creation_date" name="creation_date" disabled>

        <label for="creation_heure_debut">Creation Heure Debut</label>
        <input type="time" id="creation_heure_debut" name="creation_heure_debut" disabled>

        <label for="creation_heure_fin">Creation Heure Fin</label>
        <input type="time" id="creation_heure_fin" name="creation_heure_fin" disabled>

        <div id="alarme-container">
            <!-- Alarm Data will be inserted here -->
        </div>

        <label for="cloture_date">Cloture Date</label>
        <input type="date" id="cloture_date" name="cloture_date" disabled>

        <label for="cloture_heure">Cloture Heure</label>
        <input type="time" id="cloture_heure" name="cloture_heure" disabled>

        <label for="cloture_lieu">Cloture Lieu</label>
        <input type="text" id="cloture_lieu" name="cloture_lieu" disabled>

        <label for="cloture_mode">Cloture Mode</label>
        <input type="text" id="cloture_mode" name="cloture_mode" disabled>

        <label for="duree">Duree</label>
        <input type="text" id="duree" name="duree" disabled>
    </form>

</body>
</html>
