<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="../assets/logo.png">
 <link rel="shortcut icon" type="image/png" sizes="32x32" href="../assets/logo.png">
  <title>Enregistrement</title>
  <script src="/scripts/auth.js" defer></script>
</head>
<body>
    <%- include('navbar') %>

<div class="formbold-main-wrapper">
    <!-- Author: FormBold Team -->
    <!-- Learn More: https://formbold.com -->
    <div class="formbold-form-wrapper">
      <form id="cargoForm">
          <div class="formbold-steps">
              <ul>
                  <li class="formbold-step-menu1 active">
                      <span>1</span>
                      Etape 1
                  </li>
                  <li class="formbold-step-menu2">
                      <span>2</span>
                      Etape 2
                  </li>
        
                <li class="formbold-step-menu3">
                    <span>3</span>
                    Etape 3
                </li>

              </ul>
          </div>
  
          <div class="formbold-form-step-1 active">
            <div class="formbold-input-flex">
              <div>
                  <label for="firstname" class="formbold-form-label"> Numero de transit </label>
                  <input
                  type="text"
                  name=""
                  placeholder=""
                  id="numero_de_transit"
                  class="formbold-form-input"
                  required
                  />
              </div>
              <div>
                  <label for="lastname" class="formbold-form-label"> Numero de la balise </label>
                  <input
                  type="text"
                  name="lastname"
                  placeholder=""
                  id="numero_de_la_balise"
                  class="formbold-form-input"
                  />
              </div>
            </div>

            <div id="code-container">
              <!-- Template for a single alarme -->
              <div class="code-item">
                <div class="formbold-input-flex">
                  <div>
                    <label for="code_hs" class="formbold-form-label">Code HS</label>
                    <input
                      
                      name="code[code_hs]"
                      placeholder=""
                      class="formbold-form-input"
                    />
                  </div>
                  
                </div>
            
               
            
                <button type="button" class="remove-code-btn styled-btn danger-btn">Enlever</button>
              </div>
            </div>
            
            <div>
              <button type="button" id="add-code-btn" class="styled-btn primary-btn">Ajouter Code HS</button>
            </div>

            <div class="formbold-input-flex">

              
                
                <div>
                    <label for="lastname" class="formbold-form-label"> Corridor </label>
                    <input
                    type="text"
                    name="lastname"
                    placeholder=""
                    id="corridor"
                    class="formbold-form-input"
                    />
                </div>
              </div>

                <h3 style="margin-bottom: 16px;">Information du vehicule</h3>

              <div class="formbold-input-flex">
                <div>
                    <label for="firstname" class="formbold-form-label"> Type de vehicule </label>
                    <select class="formbold-form-input" id="type_de_vehicule">
                        <option>Choisir le type de vehicle</option>
                        <option value="Vehicule a moteur">Vehicule a moteur</option>
                        <option value="Camion">Camion</option>
                    </select>
                    
                </div>
                <div>
                    <label for="lastname" class="formbold-form-label"> Immatriculation </label>
                    <input
                    type="text"
                    name="lastname"
                    placeholder=""
                    id="immatriculation"
                    class="formbold-form-input"
                    />
                </div>
              </div>

              <h3 style="margin-bottom: 16px;">Personne de contact</h3>

              <div class="formbold-input-flex">
                <div>
                    <label for="firstname" class="formbold-form-label"> Transitaire </label>
                    <input
                    type="text"
                    name="firstname"
                    placeholder=""
                    id="transitaire"
                    class="formbold-form-input"
                    />
                </div>
                <div>
                    <label for="lastname" class="formbold-form-label"> Chauffeur </label>
                    <input
                    type="text"
                    name="lastname"
                    placeholder=""
                    id="chauffeur"
                    class="formbold-form-input"
                    />
                </div>
              </div>

              <div class="formbold-input-flex">
                <div>
                    <label for="firstname" class="formbold-form-label"> Telephone </label>
                    <input
                    type="tel"
                    name="firstname"
                    placeholder=""
                    id="telephone"
                    class="formbold-form-input"
                    />
                </div>
               
              </div>
    
            
    
            
          </div>
  
          <div class="formbold-form-step-2">

            <h3 style="margin-bottom: 16px">Creation</h3>

            <div class="formbold-input-flex">
                <div>
                    <label for="firstname" class="formbold-form-label"> Date </label>
                    <input
                    type="date"
                    name="firstname"
                    placeholder=""
                    id="creation_date"
                    class="formbold-form-input"
                    />
                </div>
                <div>
                    <label for="lastname" class="formbold-form-label"> Heure debut </label>
                    <input
                    type="time"
                    name="lastname"
                    placeholder=""
                    id="creation_heure_debut"
                    class="formbold-form-input"
                    />
                </div>
              </div>

              <div class="formbold-input-flex">
                <div>
                    <label for="firstname" class="formbold-form-label"> Heure fin </label>
                    <input
                    type="time"
                    name="firstname"
                    placeholder=""
                    id="creation_heure_fin"
                    class="formbold-form-input"
                    />
                </div>
               
              </div>

              <h3 style="margin-bottom: 16px">Alarmes</h3>
              <div id="alarme-container">
                <!-- Template for a single alarme -->
                <div class="alarme-item">
                  <div class="formbold-input-flex">
                    <div>
                      <label for="alarme_niveau" class="formbold-form-label">Niveau</label>
                      <select class="formbold-form-input" name="alarme[niveau]">
                          <option>Choisissez le niveau</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                      </select>
                   <!--   <input
                        type="number"
                        name="alarme[niveau]"
                        placeholder=""
                        class="formbold-form-input"
                      /> -->
                    </div>
                    <div>
                      <label for="alarme_date" class="formbold-form-label">Date</label>
                      <input
                        type="date"
                        name="alarme[date]"
                        placeholder=""
                        class="formbold-form-input"
                      />
                    </div>
                  </div>
              
                  <div class="formbold-input-flex">
                    <div>
                      <label for="alarme_heure_debut" class="formbold-form-label">Heure</label>
                      <input
                        type="time"
                        name="alarme[heure]"
                        placeholder=""
                        class="formbold-form-input"
                      />
                    </div>
                    <div>
                      <label for="alarme_lieu" class="formbold-form-label">Lieu</label>
                      <input
                        type="text"
                        name="alarme[lieu]"
                        placeholder=""
                        class="formbold-form-input"
                      />
                    </div>
                  </div>
              
                  <div>
                    <label for="alarme_observation" class="formbold-form-label">Observation</label>
                    <textarea
                      rows="6"
                      name="alarme[observation]"
                      placeholder="Entrez votre observation"
                      class="formbold-form-input"
                    ></textarea>
                  </div>
              
                  <button type="button" class="remove-alarme-btn styled-btn danger-btn">Enlever</button>
                </div>
              </div>
              
              <div>
                <button type="button" id="add-alarme-btn" class="styled-btn primary-btn">Ajouter Alarme</button>
              </div>
              
              
          </div>
  
          <div class="formbold-form-step-3">

            <h3 style="margin-bottom: 16px">Clotures</h3>

            <div class="formbold-input-flex">
                <div>
                    <label for="firstname" class="formbold-form-label"> Date </label>
                    <input
                    type="date"
                    name="firstname"
                    placeholder=""
                    id="cloture_date"
                    class="formbold-form-input"
                    />
                </div>
                <div>
                    <label for="lastname" class="formbold-form-label"> Heure </label>
                    <input
                    type="time"
                    name="lastname"
                    placeholder=""
                    id="cloture_heure"
                    class="formbold-form-input"
                    />
                </div>
              </div>

              <div class="formbold-input-flex">
                <div>
                    <label for="firstname" class="formbold-form-label"> Lieu </label>
                    <input
                    type="text"
                    name="firstname"
                    placeholder=""
                    id="cloture_lieu"
                    class="formbold-form-input"
                    />
                </div>
                <div>
                    <label for="lastname" class="formbold-form-label" > Mode </label>
                    <select id="cloture_mode" class="formbold-form-input">
                        <option>Choisissez le mode</option>
                        <option value="forcee">Forcee</option>
                        <option value="fermeture">Fermeture</option>
                    </select>
                    
                </div>
              </div>

              <h3 style="margin-bottom: 16px">Duree</h3>

              <div>
                <label for="firstname" class="formbold-form-label"> Duree </label>
                <input
                type="number"
                name="firstname"
                placeholder="Nombre de jours"
                id="duree"
                class="formbold-form-input"
                />
            </div>


            
          </div>
  
          <div class="formbold-form-btn-wrapper">
            <button class="formbold-back-btn">
              Back
            </button>
  
            <button class="formbold-btn" type="submit">
                Next Step
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1675_1807)">
                <path d="M10.7814 7.33312L7.20541 3.75712L8.14808 2.81445L13.3334 7.99979L8.14808 13.1851L7.20541 12.2425L10.7814 8.66645H2.66675V7.33312H10.7814Z" fill="white"/>
                </g>
                <defs>
                <clipPath id="clip0_1675_1807">
                <rect width="16" height="16" fill="white"/>
                </clipPath>
                </defs>
                </svg>
            </button>
          </div>
      </form>
      <script src="/scripts/cargo_registration.js"></script>
    </div>
  </div>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
      font-family: "Inter", sans-serif;
    }
    .formbold-main-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 48px;
    }
  
    .formbold-form-wrapper {
      margin: 0 auto;
      max-width: 550px;
      width: 100%;
      background: white;
    }
  
    .formbold-steps {
      padding-bottom: 18px;
      margin-bottom: 35px;
      border-bottom: 1px solid #DDE3EC;
    }
    .formbold-steps ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      gap: 40px;
    }
    .formbold-steps li {
      display: flex;
      align-items: center;
      gap: 14px;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #07471a;
    }
    .formbold-steps li span {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #DDE3EC;
      border-radius: 50%;
      width: 36px;
      height: 36px;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #536387;
    }
    .formbold-steps li.active {
      color: #044915;
    }
    .formbold-steps li.active span {
      background: darkgreen;
      color: #FFFFFF;
    }
  
    .formbold-input-flex {
      display: flex;
      gap: 20px;
      margin-bottom: 22px;
    }
    .formbold-input-flex > div {
      width: 50%;
    }
    .formbold-form-input {
      width: 100%;
      padding: 13px 22px;
      border-radius: 5px;
      border: 1px solid #DDE3EC;
      background: #FFFFFF;
      font-weight: 500;
      font-size: 16px;
      color: #536387;
      outline: none;
      resize: none;
    }
    .formbold-form-input:focus {
      border-color: #6a64f1;
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
    }
    .formbold-form-label {
      color: #014212;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      display: block;
      margin-bottom: 10px;
    }
  
    .formbold-form-confirm {
      border-bottom: 1px solid #DDE3EC;
      padding-bottom: 35px;
    }
    .formbold-form-confirm p {
      font-size: 16px;
      line-height: 24px;
      color: #536387;
      margin-bottom: 22px;
      width: 75%;
    }
    .formbold-form-confirm > div {
      display: flex;
      gap: 15px;
    }
  
    .formbold-confirm-btn {
      display: flex;
      align-items: center;
      gap: 10px;
      background: #FFFFFF;
      border: 0.5px solid #DDE3EC;
      border-radius: 5px;
      font-size: 16px;
      line-height: 24px;
      color: #536387;
      cursor: pointer;
      padding: 10px 20px;
      transition: all .3s ease-in-out;
    }
    .formbold-confirm-btn {
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
    }
    .formbold-confirm-btn.active {
      background: darkgreen;
      color: #FFFFFF;
    }
  
    .formbold-form-step-1,
    .formbold-form-step-2,
    .formbold-form-step-3 {
      display: none;
    }
    .formbold-form-step-1.active,
    .formbold-form-step-2.active,
    .formbold-form-step-3.active {
      display: block;
    }
  
    .formbold-form-btn-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 25px;
      margin-top: 25px;
    }
    .formbold-back-btn {
      cursor: pointer;
      background: #FFFFFF;
      border: none;
      color: darkgreen;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      display: none;
    }
    .formbold-back-btn.active {
      display: block;
    }
    .formbold-btn {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 16px;
      border-radius: 5px;
      padding: 10px 25px;
      border: none;
      font-weight: 500;
      background-color: darkgreen;
      color: white;
      cursor: pointer;
    }
    .formbold-btn:hover {
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
    }

    /* General button styling */
.styled-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  outline: none;
}

/* Primary button for "Add" */
.primary-btn {
  background-color: #4CAF50; /* Green */
  color: white;
}

.primary-btn:hover {
  background-color: #45a049;
}

/* Danger button for "Remove" */
.danger-btn {
  background-color: #f44336; /* Red */
  color: white;
}

.danger-btn:hover {
  background-color: #d32f2f;
}

/* Add some spacing */
#add-alarme-btn {
  margin-top: 20px;
}

#add-code-btn {
  margin-top: 20px;
}

.alarme-item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.code-item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}


  
  </style>
  <script src="/scripts/form.js"></script>
  
  

</body>
</html>